.position{
    float: right;
}
#coach-list a{
    line-height: 1.6em;
}
#coach-list a img{
    left: 10px;
    top: 8px;
}
.description{
    margin-left: 1em;
}
.gender{
    margin-left: 1em;
}