.price{
    float: right;
}
#sport-list a img {
    left: 10px;
    top: 8px;
}
#sport-list a {
    line-height: 1.6em;
}
#sport-list button{
    float: right;width: 10em;margin: 0;margin-top: 1em;
}
.time{
    line-height: 3.2em;
}
#sport-list{
    display: none;
}
#info-panel img{
    margin: 1em 1em 0;
    float: left;
}
#info-panel .info-detail{
    float: left;margin-top: 1em;
}
#info-panel p{
    margin: .3em 0;
}
#info-panel{
    min-height: 6em;
    font-weight: bold;
    border: 1px solid #bbb;
}
#purchase-num{
    color: #333;
    margin-top: 1em;
    border: 1px solid #bbb;
    font-weight: bold;
    line-height: 3em;
    padding-left: 1em;
    padding-right: 1em;
}
#description{
    margin-top: 1em;
    padding-left: 1em;
    padding-top: 1em;
    font-weight: bold;
    border: 1px solid #bbb;
}
#description p{
    text-indent: 1em;
}